body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #333;
    text-shadow: 2px 2px 4px #6d077d;
    background: linear-gradient(to bottom, #866767, #ccc);
    webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(226, 10, 10, 0.2);
}


